/PHP/uploads/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/5a13a597-7635-401f-8332-cc097d3b46f5.xml
.idea/dataSources/5a13a597-7635-401f-8332-cc097d3b46f5/storage_v2/_src_/schema/marcello_v2.DFgIxQ.meta
.idea/workspace.xml
.idea/workspace.xml
PHP/config.php
.idea/workspace.xml
